<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Render all Element -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/student.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Exam</title>
    <script src="javascripts/studentscript.js"></script>
    <script src="javascripts/exam.js"></script>

</head>

<body>
    <div class="container">
        <form action="javascript:void(0);" method="post" id="examForm">
            <div class="header">

                <div class="logo">
                    <img src="images/logo222-removebg-preview.png" alt="">
                </div class="text">
            </div>
            <% for(var i=0;i<assignment[0].AssignmentQuestions.length;i++){ %>
                <div class="question">
                    <div class="card">
                        <span class="score-<%=i %>"></span>
                        <h3 class="title_que" id="QuestionHead">
                            <%= assignment[0].AssignmentQuestions[i].question %>
                        </h3>
                        <textarea name="name" class="The_ans" rows="11" placeholder="Answer Here"></textarea>
                    </div>
                </div>
                <% } %>
                    <h1>

                    </h1>
                    <div class="btn">
                        <button onclick="reset()">Clear Answers</button>
                        <button onclick="submitExam('<%- assignment[0]._id%> ')">Submit</button>
                    </div>
        </form>

    </div>


    </div>
    </div>



    <!-- start footer -->
    <div class="footer">
        &copy; 2022 All Right Reserved
    </div>
    <!-- End footer -->


</body>

</html>