<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Render all Element -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/student.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Exam</title>
    <script src="javascripts/studentscript.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">

            <div class="logo">
                <img src="images/logo222-removebg-preview.png" alt="">
            </div class="text">
        </div>
        <% for(var i=0;i<assignment[4].AssignmentQuestions.length;i++){ %> 
        <div class="question">
            <div class="card">
                <h3 class="title_que" id="QuestionHead"> <%= assignment[0].AssignmentQuestions[i].question %> </h3>
                <textarea class="The_ans" rows="11" placeholder="Answer Here"></textarea>
            </div>
        </div>
        <% } %> 
        <form action="">
            <div class="btn">
                <button onclick="reset()">Clear Answers</button>
                <button onclick="send()">Next</button>
            </div>
        </form>

    </div>


    </div>
    </div>



    <!-- start footer -->
    <div class="footer">
        &copy; 2022 All Right Reserved
    </div>
    <!-- End footer -->


</body>

</html>