<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\TeacherStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>TeacherDashboard</title>

</head>
<body>

    <div class="header">
        <div class="container">
            <img src="images/logo222-removebg-preview.png" alt="">
        </div>
        
    </div>

    <div class="content">
        <div>
            <button class="first"> <i class="fa-solid fa-user"></i>  </button>
            <h3>Add User</h3>
        </div>
        
        <div>
            <button class="second"><i class="fa-solid fa-book-open"></i> </button>
            <h3>Add assignment</h3>
        </div>
        <div>
            <button class="third"><i class="fa-solid fa-graduation-cap"></i> </button>
            <h3>Results</h3>
        </div>
        
    </div>
    
    
</body>
</html>