<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/normalize.css">
    <!-- Render all Element -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/Test.css">
    <title>Testing</title>
</head>

<body>

    <!-- start header -->
    <div class="header">
        
        <div class="logo">
            <img src="images/logo222-removebg-preview.png" alt="site logo">
        </div>
        <!-- <div class="logo1">Exam</div>
        <div class="logo2">Exam</div> -->

    </div>

    <!-- End header -->

    <!-- start content -->

    <div class="content">
        <div class="container">
            <form action="/teacher/add_question" method="post">
                
                <label >Question :  </label>
                <input id="question" type="text" value="" name="question" autocomplete="off" required="required">
                <textarea  id="answer" name="answer" value=""  required="required" autocomplete="off"></textarea>
                <input type="submit" value="Send">
                <input class="add_que" type="reset" value="Add Question">
            </form>
        </div>
    </div>
    <!-- End content -->

    <!-- start footer -->
    <div class="footer">
        &copy; 2022  All Right Reserved
    </div>
    <!-- End footer -->



</body>

</html>