<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/normalize.css">
    <!-- Render all Element -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\css\TeacherDashboard\AddUserStyle.css">


</head>

<body>


    <!-- start header -->
    <div class="header">

        <div class="logo">
            <img src="\images\logo222-removebg-preview.png">
        </div>
        <!-- <div class="logo1">Exam</div>
        <div class="logo2">Exam</div> -->

    </div>

    <!-- End header -->

    <!-- start content -->

    <div class="container">
        <form action="javascript:void(0);" id="frmdata" onsubmit="submitFormData(this)" onreset="resetFormData(this)">
            <h1>ADD NEW STUDENT</h1>
            <input list="usertypes" name="usertype" id="browser" placeholder="Choose User Type">
            <datalist id="usertypes">
                <option value="Teacher">
                <option value="Student">
            </datalist>
            <input class="year" type="number" placeholder="Student year" name="year" required="true" autocomplete="off"
                min="1" max="4">
            <input type="text" placeholder="user ID" name="username" required="true" autocomplete="off">
            <input type="submit" value="ADD STUDENT">
        </form>
    </div>
    <!-- End content -->

    <!-- start footer -->
    <div class="footer">
        &copy; 2022 All Right Reserved
    </div>
    <!-- End footer -->



</body>

</html>